<div id="{{config.id}}" class="guInteractive" style='{{#config.banding_colour != ''}}background: #{{config.banding_colour}};{{/config.banding_colour}} {{#config.text_colour != ''}}color: #{{config.text_colour}};{{/config.text_colour}}'>
	<div class="interactiveWrapper" style="{{#config.background_colour != ''}}background: #{{config.background_colour}};{{/config.background_colour}}">
		<div id="photoBlocks">
			{{#each blocks:i}}
				{{#if blocktype === "lead"}}
					<leadBlock />
				{{elseif blocktype === "lead-intro"}}
					<leadIntroBlock />
				{{elseif blocktype === "photo"}}
					<photoBlock />
				{{elseif blocktype === "quote"}}
					<quoteBlock />
				{{elseif blocktype === "text"}}
					<textBlock />
				{{elseif blocktype === "title"}}
					<titleBlock />
				{{elseif blocktype === "audio"}}
					<audioBlock />
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>


<style>
	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-2,
	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-3,
	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-4,
	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-5,
	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-6 {
		margin-left: 0px;
		text-shadow: none !important;
	}

	.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-1 {
		text-shadow: none !important;
	}
	.guInteractive .block-lead.intro .lead-text-container {
		position: relative;
	}

	.guInteractive#voter-voices .block-lead.intro h1 span {
		color: #000;
		font-size: 28px;
		font-weight: 700;
	}
	.guInteractive#voter-voices .block-lead.intro h1 {
		color: #999 !important;
		font-size: 22px;
		font-weight: 100;
	}

	.block-lead.intro h2 {
		color: #999 !important;
	}

	.guInteractive .quote-container quote,
	.guInteractive .quote-container .quote-credit {
		color: #767676;
		font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
		font-size: 36px;
		font-weight: 200;
		line-height: 44px;
		margin-bottom: 0;
	}

	.guInteractive .quote-container .quote-credit {
		color: #3fa5f1;
		margin-top: 0;
	}

	.guInteractive .block-text h4 {
		font-size: 20px;
		margin-bottom: 24px;
	}

	#p1 .lead-photo-container {
		background-image: url(http://media.guim.co.uk/619be45262bc928a6fc2e3025ae62641f8baa96d/0_0_3543_2126/2000.jpg);
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center center;
	}

	#p1 .lead-photo-container .skrollable.show {
		opacity: 1 !important;
		-webkit-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
	}

	#p1 .lead-photo-container .skrollable.hide {
		opacity: 0 !important;
		-webkit-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
	}

	.toggle-button-wrap {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 1140px;
		height: 100px;
		z-index: 1;
	}

	.toggle-button-wrap_inner {
		position: relative;
		margin: 0 auto;
		width: 100%;
		z-index: 1;
	}

	.uh-element.uh-scrollable .toggle-button-wrap_inner {
		width: 96%;
	}

	.toggle-button {
		position: absolute;
		top: 12px;
		right: 12px;
		background-color: rgba(0, 86, 137, 0.4);
		border: 0;
		border-radius: 100px;
		color: #fff;
		font-size: 16px;
		opacity: 1;
		padding: 12px 12px;
		width: 116px;
		height: 42px;
		outline: none;
		z-index: 3;
		transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		-webkit-transition: background 0.4s ease-in-out;
		transition: background 0.4s ease-in-out;
	}

	.toggle-button:before {
		position: absolute;
		top: -12px;
		right: -12px;
		content: "";
		width: 166px;
		height: 102px;
		opacity: 0;
	}

	.lead-photo-container .toggle-button:hover {
		background-color: rgba(0, 86, 137, 1);
		transition-duration: 0.4s;
		-o-transition-duration: 0.4s;
		-moz-transition-duration: 0.4s;
		-webkit-transition-duration: 0.4s;
		-webkit-transition: background 0.4s ease-in-out;
		transition: background 0.4s ease-in-out;
	}


	.guLazyLoad {
		background: #333;
		min-height: 500px;
	}

	@media(min-width:980px){
		.block-lead .guLazyLoad {
			min-height: 551px;
		}

		.col-5 .guLazyLoad {
			min-height: 368px;
		}

	}

	@media(min-width:1140px){

		.block-lead .guLazyLoad {
			min-height: 641px;
		}

		.col-5 .guLazyLoad {
			min-height: 445px;
		}
	}

	@media(min-width:1300px){
		.block-lead .guLazyLoad {
			min-height: 731px;
		}

		.col-5 .guLazyLoad {
			min-height: 522px;
		}

	}

</style>

