/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

// @import 'bower_components/pasteup-palette/src/_palette';
// @import 'bower_components/guss-webfonts/src/_webfonts.scss';
// @import 'bower_components/guss-typography/_typography.scss';

@import 'modules/grid';
@import 'modules/custom';
@import 'modules/fonts';
$mainYellow: #FFBB00;

@import 'nouislider.scss';

figure.element{
	margin:0;
}
.article__header{
    display:none;
}
.guInteractive {
	font-family:'Guardian Egyptian Web','Egyptian Display', Georgia;
	-webkit-font-smoothing: antialiased;
	overflow:hidden;
	*{
		box-sizing:border-box;
	}
	.clearboth{
		clear:both;
	}
    img{
    	width:100%;
    	height:auto;
    }
    .interactiveWrapper{
    	padding-bottom:1px;
    	background:black;
    	margin:0 auto;
    	&:after{
    		clear:both;
    		content:'';
    		display:block;
    	}
    }
    #photoBlocks{
    	padding-bottom:80px;
        padding-top:1px;
    }
    #p1{
        margin-top:30px;
    }




    /**********************
    *
    *   Block title
    *
    ***********************/

    .title-text-block{
        padding-top:1px !important;
        h1{
            line-height: 1em;
            font-size:32px;
            margin-bottom:0.2em;
            margin-top:1em;
        }
        .shareButtons{
            margin-top:10px;
            padding-top:5px;
            display:inline-block;
        }
    }
    .block-title{
        padding-top:1px;
        padding-bottom:20px;
        h2{
            font-weight:normal;
            font-size:18px;
            line-height:1.3em;
            color:#767676;
        }
        ul{
            margin:20px 0 0;
            padding-left:0px;
            li{
                list-style:none;
                padding-left:20px;
                position: relative;
                font-size: 18px;
                line-height: 26px;
            }
            li:before{
                display: inline-block;
                position: absolute;
                left:0;
                top:5px;
                  content: '';
                  -webkit-border-radius: 10px;
                  border-radius: 10px;
                  height: 12px;
                  width: 12px;
                  margin-right: 0.25rem;
                  background-color: #bdbdbd;
            }
            a{
                color:#fff;
                text-decoration: none;
                border-bottom:1px solid #dfdfdf;
                padding-bottom:2px;
                transition:0.5s border-color;
                &:hover{
                    color:#ccc;
                    border-color:#ccc;
                }
            }
        }
    }


    
    
    /**********************
    *
    *   Block lead
    *
    ***********************/

    .block-lead{
    	position: relative;
    	margin-bottom:30px;
        clear:both;
        margin-top:100px;
        &.story-lead{
            margin-top:0;
        }
    	.lead-banding{
    		position: absolute;
    		left:-10000px;
    		right:-10000px;
    		background:rgba(0,0,0,0.1);
    		height:100%;
    		z-index:1;
    	}
    	h1{
    		margin-bottom:0;
    		margin-top:1em;
    		font-size:24px;
    		line-height:1em;
    	}
    	h2{
    		font-size:18px;
    		font-weight:normal;
    		line-height:1.2em;
    		margin-top:1em;
    		margin-bottom:15px;
    	}
        .lead-text-container{
            margin-top:15px;
            position: relative;
        }
    }
    .lead-photo{
    	margin:0 -10px;
    	position: relative;
    	z-index:2;
    }
    .lead-photo,.photo-container{
    	font-size:0;
    }
     .lead-text-block{
    	padding-top:1px;
    }

    .lead-divider{
    	height:1px;
    	background:rgba(255,255,255,0.2);
    	margin:25px -20px 0;
    }

    .block-lead.intro{
        h1 {
            font-size: 24px;
            font-weight: 700;
            color: #eee;
            margin-top:0;
            line-height:1.2em;
        }
        h2 {
            color: #999;
            strong{
                color:#aeaeae;
            }
        }
    }
    .lead-photo-container{
        .fadeImageContainer{
            transition: opacity 1s ease-out;
            opacity:0;

            &.fade-visible{
                opacity:1;
            }

            &:first-child{
                position: absolute;
                width:100%;
                top:0;
                opacity:0;
                &.fade-visible{
                    opacity:1;
                }
            }
        }
    }

    .fadeToggle{
        position: absolute;
        right:0;
        top:0;
        width:60px;
        button{
            height:30px;
            width:60px;
            border-radius:30px;
            background:#575757;
            border:none;
            position: relative;
            outline:none;
            cursor:pointer;
            &:hover{
                span{
                    background-color: $mainYellow;
                    transition:background-color 0.5s;
                }
            }
            span{
                height:100%;
                width:30px;
                position: absolute;
                left:0;
                background:#DBDBDB;
                top:0;
                display:block;
                border-radius:30px;
            }
            &.fadestate-old{
                span{
                    left:0;
                }
            }
            &.fadestate-new{
                span{
                    left:30px;
                }
            }

            &.toggleClicked-{
                &.fadestate-old{
                    span{
                        animation: toLeft 1s;
                    }
                }
                &.fadestate-new{
                    span{
                        animation: toRight 1s linear;
                    }
                }
            }
            &.toggleClicked-true{
                span{
                    background:#ffbb00;
                    transition:left 0.2s;
                }
            }

            
            
            @keyframes toRight {
                0% { background-color:#dbdbdb; left:0;}
                20% { background-color:#ffbb00}
                40% {left:0;}
                60% { left:30px; }
                80% { background-color:#ffbb00}
                100% { background-color:#dbdbdb; left:30px;}
            }
            @keyframes toLeft {
                0% { background-color:#dbdbdb; left:30px;}
                20% { background-color:#ffbb00}
                40% {left:30px;}
                60% { left:0; }
                80% { background-color:#ffbb00}
                100% { background-color:#dbdbdb; left:0;}
            }
            
        }
        .toggleLabel{
            display:block;
            font-size:12px;
            font-family:"Guardian Text Sans Web", Arial;
            margin-top:5px;
            text-align: center;
        }
    }




    /**********************
    *
    *   Block photo
    *
    ***********************/

    .block-photo, .block-audio{
    	margin:0 0 50px;
        position: relative;
        padding-left:0;
        padding-right:0;
    }
    .block-audio{
        .audio-profile-container{
            width:80px;
            position: absolute;
            top:5px;
            right:0;
            height:110px;
        }

        .audio-profile-image{
            width:70px;
            height:70px;
            background-size:cover;
            background-position:center;
            border-radius:80px;
        }
        .podcastPlayer{
            position: absolute;
            right:0;
            top:45px;
        }
    }
    .photo-caption{
    	p{
    		line-height:1.2em;
    		font-size:14px;
    		font-family:'Guardian Text Sans Web', 'Agate Sans', Helvetica, sans-serif;
    		margin-top:0.4em;
    		max-width:620px;
    		margin-bottom:0;
    	}
    }
    



    /**********************
    *
    *   Block quote
    *
    ***********************/

    .block-quote{
    	&:after{
    		content:'';
    		display:block;
    		clear:both;
    	}
    }
    .quote-container{
    	margin:10px 0 50px;
        .quote-credit-container{
            margin-top:10px;
            position:relative;
        }
        .quote-credit{
            margin-top:0;
            span{
                color:#fff;
            }
        }
        quote{
            margin-right:90px;
            min-height:110px;
            display: inline-block;
        }
    	quote,.quote-credit{
            color: #767676;
            font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
            font-size: 24px;
            font-weight: 200;
            line-height: 1.25em;
            margin-bottom: 0;
    	}
    }

    .block-text{
    	margin-bottom:50px;
    	h4{
    		font-size:16px;
    		margin:0;
    		line-height:1.1em;
    	}
    	p{
    		margin:0.5em 0 0;
    		font-size:16px;
    		line-height:1.3em;
    	}
    	&:after{
    		clear:both;
    		display:block;
    		content:'';
    	}
    }



    
   


    @media(min-width:480px){
        .title-text-block{
            h1{
                font-size:42px;
            }
        }
        .block-lead.intro{
            h1{
                font-size:28px;
            }
            
            .lead-text-container{
                margin-top:30px;
            }
        }
    	.block-lead{
    		margin-bottom:0;
    		h1{
    			font-size:36px;
    		}
    	}
    	.lead-divider{
    		margin:25px 0 0;
    	}
    	.lead-photo{
    		margin:0 -20px;
    	}
        .fadeToggle{
            width:95px;
            .toggleLabel{
                display: inline-block;
                vertical-align: top;
                margin-top:10px;
                margin-left:5px;
            }
        }
    	#photoBlocks{
    		padding:0 0 80px;
    	}
        .quote-container{
            margin:20px 0 50px;
        }
    }
    @media(min-width:660px){
        .lead-photo{
            margin:0;
        }
        .title-text-block{
            h1{
                font-size:52px;
                margin-top:1.5em
            }
            h2{
                font-size:20px;
            }
        }
    	.block-lead-intro{
    		h1{
    			font-size:38px;
    		}
    	}
    	.quote-container{
    		margin-bottom:70px;
            quote,.quote-credit{
                font-size:28px;
            }
    	}
    	.lead-divider{
    		margin:30px 0 0;
    	}
    	.block-photo{
    		margin-bottom:70px;
    	}
    	.block-text{
	    	h4,p{
	    		font-size:18px;
	    	}
	    }

        .block-lead.intro{
            h1{
                font-size:32px;
            }
            
            .lead-text-container{
                margin-top:30px;
            }
        }
        .block-lead{
            margin-bottom:20px;
        }
        #photoBlocks{
            padding-left:0;
            padding-right:0;
        }
    }

    @media(min-width:740px){
        #photoBlocks{
            max-width:560px;
            margin:0 auto;
        }
    }
    @media(min-width:740px) and (max-width: 979px){
        .lead-text-bar {
            div[class*='text-col-'] {
                width: 100%;
            }
        }
    }
    @media(max-width:979px){
        .lead-text-block{
            margin-left:0;
        }
        .lead-divider{
            background:rgba(0,0,0,0.2)
        }
        $i: 8;
        @while $i > 0 {
            .text-col-#{$i},.col-#{$i} {
                padding: 0;
                width: auto;
            }
            .push-#{$i} {
                margin-left: 0;
            }

          $i: $i - 1;
        }
    }

    @media(min-width:980px){
        .lead-photo{
            margin-right:0;
            float:left;
            padding:0;
        }

        .block-lead.intro{
            position: relative;
            h1{
                font-size:22px;
                line-height:1em;
                margin-bottom:0.2em;
                display:inline-block;

            }
            h2{
                font-size:16px;
            }
            .right-side-container{
                width:140px;
                float:left;
                margin-left:20px;
            }
            .lead-text-container{
                margin-top:1px;
                height:auto;
                border-top:1px solid #999;
                padding-top:5px;
            }
            &:after{
                clear:both;
                content: '';
                display:block;
            }
        }

        .lead-photo.push-{
            margin-left:0;
        }
    	.block-lead{
            margin-top:120px;
    		h1{
    			font-size:78px;
    		}
    		h2{
    			font-size:18px;
    		}
    	}
    	.align-{
    		padding-right:10px;
    		&.col-4{
    			padding-right:0;
    		}
    	}
    	
    	.lead-divider{
    		display:none;
    	}
    	.block-photo{
    		margin:10px 0 40px;
    	}
    	.quote-container {
            quote{
    		  font-size:32px;
    		  display:block;
              margin-right:120px;
              min-height:140px;
    	   }
        }
    	#photoBlocks{
    		padding:0 0 80px;
            max-width:none;
    	}
    	.lead-text-container{
    		position: absolute;
    		width:100%;
    		height:100%;
    		top:0;
    		left:0;
    		z-index:3;
    	}
    	.lead-text-position{
    		display:table;
    		height:100%;
    		width:100%;
    	}
    	.lead-text-bar{
    		display:table-cell;
    	}
    	.position-center{
    		.lead-text-bar{vertical-align: middle;}
    	} 
    	.position-bottom{
    		.lead-text-bar{vertical-align: bottom;}
            .lead-text-block{
                margin-bottom:40px;
            }
		} 

        .block-audio{
            .audio-profile-container{
                width:100px;
                height:140px;
            }

            .audio-profile-image{
                width:100px;
                height:100px;
            }
            .podcastPlayer{
                position: absolute;
                right:0;
                top:60px;
            }
        }

        $i: 8;
        @while $i > 0 {

            .text-col-#{$i},.col-#{$i} {
                padding: 0 10px;
                width: 120px * $i;
            }
            .push-#{$i} {
                margin-left: 120px * $i;
            }

          $i: $i - 1;
        }

        .fadeToggle{
            position: relative;
        }

        .lead-photo{
            &.push-1{
                margin-left:80px;
            }
            &.col-5{
                width:700px;
                padding:0;
            }
            &.col-6{
                margin-left:0;
                width:780px;
                padding:0;
            }
        }
        .block-audio{
            &.push-1{
                margin-left:80px;
            }
            &.col-4{
                width:600px;
                padding:0;
            }
            &.col-5{
                width:700px;
                padding:0;
            }
        }
    }
    @media(min-width:1140px){
        .quote-container{
            quote,.quote-credit{
                font-size:38px;
            }
            .quote-credit-container{
                margin-top:20px;
            }
            quote{
                margin-right:160px;
            }
        } 

        .block-lead.intro{
            .right-side-container{
                width:220px;
            }
            .lead-text-container{
                top:65%;
            }
            h1{
                font-size:24px;
                display: block;
            }
        }

        .gu-block.block-title{
            padding-bottom:60px;
        }

        #photoBlocks{
            padding:0;
        }

        .block-lead{
            margin-top:160px;
        }

        .title-text-block{
            h1{
                font-size:58px;
            }
        }
        .block-audio{
            .audio-profile-container{
                width:140px;
                height:200px;
            }

            .audio-profile-image{
                width:140px;
                height:140px;
            }
            .podcastPlayer{
                position: absolute;
                right:0;
                top:90px;
            }
        }

    	$i: 8;
        @while $i > 0 {

            .text-col-#{$i},.col-#{$i} {
                padding: 0 10px;
                width: 130px * $i;
            }
            .push-#{$i} {
                margin-left: 130px * $i;
            }

          $i: $i - 1;
        }

        .block-text{
            h4,p{
                font-size:20px;
            }
        }
        .lead-photo{
            &.push-1{
                margin-left:120px;
            }
            &.col-5{
                width:740px;
            }
            &.col-6{
                margin-left:0;
                width:860px;
            }
        }
        .block-audio{
            &.push-1{
                margin-left:120px;
            }
            &.col-4{
                width:620px;
            }
            &.col-5{
                width:740px;
            }
        }
    }

    @media(min-width:1300px){
        #photoBlocks{
            padding:0 0px;
        }
        .lead-photo{
            margin: 0 -10px;
        }

        $i: 8;
        @while $i > 0 {

            .text-col-#{$i},.col-#{$i} {
                padding: 0 10px;
                width: 160px * $i;
            }
            .push-#{$i} {
                margin-left: 160px * $i;
            }

          $i: $i - 1;
        }
        .lead-photo{
            &.push-1{
                margin-left:160px;
            }
            &.col-5{
                width:860px;
            }
            &.col-6{
                margin-left:0;
                width:1020px;
            }
        }
        .block-audio{
            &.push-1{
                margin-left:160px;
            }
            &.col-4{
                width:700px;
            }
            &.col-5{
                width:860px;
            }
        }

    }


}

@import 'modules/custom';