$mainYellow: #ffbb00;
/*********************************
*	CUSTOM: CIVIL WAR ANNIVERSARY
*********************************/
.article__header{
	display:none;
}

.gu-block.block-title {
	padding-bottom: 20px;
}

.guInteractive#civil-war .block-title ul li {
	font-size: 18px;
	line-height: 26px;
}


.guInteractive#civil-war .title-text-block .shareButtons {
	display: none;
}

.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-2,
.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-3,
.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-4,
.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-5,
.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-6 {
	margin-left: 0px;
	text-shadow: none !important;
}

.guInteractive .block-lead.intro .lead-text-container .lead-text-block.push-1 {
	text-shadow: none !important;
}
.guInteractive .block-lead.intro .lead-text-container {
	position: relative;
}




/**********************
*
*	Block 
*
***********************/


.guInteractive#civil-war #p1 {
	margin-top: 60px;
}




/**********************
*
*	Block header 
*
***********************/

.guInteractive#civil-war .block-lead{
	.lead-text-container{
		margin-top:20px;
	}
}

.guInteractive#civil-war .block-lead.intro h1 span {
	font-size: 24px;
	font-weight: 700;
}
.guInteractive#civil-war .block-lead.intro h1 {
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	margin-top:0;
}

.block-lead.intro h2 {
	color: #767676;
}

.fadeToggle{
	position: absolute;
	right:0;
	top:0;
	width:60px;
	button{
		height:30px;
		width:60px;
		border-radius:30px;
		background:#575757;
		border:none;
		position: relative;
		outline:none;
		cursor:pointer;
		&:hover{
			span{
				background-color: $mainYellow;
				transition:background-color 0.5s;
			}
		}
		span{
			height:100%;
			width:30px;
			position: absolute;
			left:0;
			background:#DBDBDB;
			top:0;
			display:block;
			border-radius:30px;
		}
		&.fadestate-old{
			span{
				left:0;
			}
		}
		&.fadestate-new{
			span{
				left:30px;
			}
		}

		&.toggleClicked-{
			&.fadestate-old{
				span{
					animation: toLeft 1s;
				}
			}
			&.fadestate-new{
				span{
					animation: toRight 1s linear;
				}
			}
		}
		&.toggleClicked-true{
			span{
				background:#ffbb00;
				transition:left 1s;
			}
		}

		
		
		@keyframes toRight {
			0% { background-color:#dbdbdb; left:0;}
			20% { background-color:#ffbb00}
			40% {left:0;}
			60% { left:30px; }
			80% { background-color:#ffbb00}
		  	100% { background-color:#dbdbdb; left:30px;}
		}
		@keyframes toLeft {
		  	0% { background-color:#dbdbdb; left:30px;}
			20% { background-color:#ffbb00}
			40% {left:30px;}
			60% { left:0; }
			80% { background-color:#ffbb00}
		  	100% { background-color:#dbdbdb; left:0;}
		}
		
	}
	.toggleLabel{
		display:block;
		font-size:12px;
		font-family:"Guardian Text Sans Web", Arial;
		margin-top:5px;
		text-align: center;
	}
}



/**********************
*
*	Block quote 
*
***********************/


.guInteractive .quote-container quote,
.guInteractive .quote-container .quote-credit {
	color: #767676;
	font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
	font-size: 24px;
	font-weight: 200;
	line-height: 1.25em;
	margin-bottom: 0;
}

.guInteractive .quote-container quote {
	// text-indent: -9px;
}

.guInteractive .quote-container .quote-credit {
	color: #fff;
	margin-top: 0;
	font-size:20px;
}



/**********************
*
*	Block text 
*
***********************/


.guInteractive .block-text:after {
  border-bottom: 1px solid #767676;
  padding-top: 60px;
  width: 12em;
}



/**********************
*
*	Block photo
*
***********************/
.lead-photo-container{
	.fadeImageContainer{
		transition: opacity 1s ease-in;
		opacity:0;

		&.fade-visible{
			opacity:1;
		}

		&:first-child{
			position: absolute;
			width:100%;
			top:0;
			opacity:0;
			&.fade-visible{
				opacity:1;
			}
		}
	}
}

#p1 .lead-photo-container,
#p5 .lead-photo-container {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.lead-photo-container .btn-show {
	opacity: 1 !important;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.lead-photo-container .btn-hide {
	opacity: 0 !important;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}



/**********************
*
*	Toggle buttons   
*
***********************/







// TAKEN FROM Voter voicess
.guInteractive#civil-war{
	#p1{
		margin-top:30px;
	}
	
	h1{
		span{
			font-size:20px;
			display:block;
			line-height: 1.2em;
		}
	}
	.shareButtons button{
		background-color:rgba(0,0,0,0.5);
		&:hover{
			background-color:rgba(0,0,0,1);
		}
	}

	@media(min-width:660px){
		.block-lead.intro{
			h1{
				span{
					font-size:38px;
				}
				font-size:20px;
			}
			
			.lead-text-container{
				margin-top:30px;
			}
		}
		.block-lead{
			margin-bottom:20px;
		}
		.quote-container{
			quote{
				font-size:30px;
			}
			.quote-credit{
				font-size:22px;
				margin-top:0.5em;
			}
		} 
		#photoBlocks{
			padding-left:0;
			padding-right:0;
		}
	}

	@media(min-width:740px){
		#photoBlocks{
			max-width:560px;
			margin:0 auto;
		}
		.lead-photo{
			margin-left:-90px;
			margin-right:-90px;
		}
		
	}
	@media(min-width:980px){
		#photoBlocks{
			max-width:none;
		}
		.block-lead h1{
			font-size:78px;
		}
		.lead-photo{
			margin-left:0;
			margin-right:0;
			width:800px;
			float:left;
		}
		.block-lead.intro{
			h1{
				margin-top:0;
				margin-right:0;
				font-size:16px;
				span{
					font-size:22px;
					line-height:1em;
					margin-bottom:0.2em;
					display:inline-block;
				}
			}
			.lead-text-container{
				margin-left:820px;
				margin-top:0;
				width:auto;
				padding:0;
			}
			&:after{
				clear:both;
				content: '';
				display:block;
			}
		}
		.block-lead{
			margin-bottom:60px;
		}
		.fadeToggle{
			position: relative;
		}
	}
	@media(min-width:1140px){
		.lead-photo{
			width:860px;
		}
		.block-lead.intro{
			.lead-text-container{
				margin-left:880px;
			}
			h1{
				font-size:20px;
				span{
					font-size:28px;
					display: block;
				}
			}
		}
		.quote-container{
			quote{
				font-size:38px;
			}
			.quote-credit{
				font-size:24px;
				margin-top:0.5em;
			}
		} 
	}
	@media(min-width:1300px){
		.lead-photo{
			width:1020px;
		}
		.block-lead.intro{
			.lead-text-container{
				margin-left:1040px;
			}
		}
	}
	@media(max-width:979px){
        .lead-text-block{
            margin-left:0;
        }
        .block-lead{
            h1{
                color:#333;
                text-shadow:none;
            }
        }
        .lead-divider{
            background:rgba(0,0,0,0.2)
        }
		$i: 8;
        @while $i > 0 {
            .text-col-#{$i},.col-#{$i} {
                padding: 0;
                width: auto;
            }
            .push-#{$i} {
                margin-left: 0;
            }

          $i: $i - 1;
        }
    }
}